<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- if you want to load other beans as well which is not defined under services tags below
        create new tag xmlns:context like above and do the below step
     -->
    <context:component-scan base-package="com.example.demo"/>

    <!-- services -->

    <bean id="xmlJdbcConnection"
          class="com.example.demo.xml.XmlJdbcConnection">
        <!-- additional collaborators and configuration for this bean go here -->
    </bean>
    <bean id="xmlPersonDAO"
          class="com.example.demo.xml.XmlPersonDAO">
        <property name="xmlJdbcConnection" ref="xmlJdbcConnection"/>
        <!-- additional collaborators and configuration for this bean go here -->
    </bean>

    <!-- more bean definitions for services go here -->

</beans>